{% load static%} {% load account %} {% load i18n %} {% autoescape off %}
<center>
<h3>{{ site_name }}</h3>
<h4>Verify Your Email Address</h4>
<p> Have you recently signed up for an account on {{ site_name }}? 
    If so, please click the link below to verify your email address and activate your account.
</p>
<a href="http://{{current_site}}/auth/signup-verification/{{key}}"
    
    target="_blank"
    rel="noopener noreferrer"
>

<button style="background-color: #008CBA; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
        Verify Email</button>
</a>
<p>If you did not sign up for an account on {{ site_name }}, please ignore this email.</p>

<footer>
    <div>
        <small>Thanks for using {{ site_name }}!</small>
        <br>
        <small>Team {{ site_name }}</small>
        <br>
        <small>http://{{ current_site }}</small>
    </div>
</footer>

</center>
{% endautoescape %}